* {
    padding:0.5;
    margin:0;
    font-family: 'Lato', sans-serif;
    font-size: 18px;
 }
nav{
  background-color: #E2DA99;
}

 nav ul li {
    display: inline-block;
    list-style-type: none;
    padding: 5% 5%;
    color: #A33CCD;

    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
 }


.clear-fix {
  overflow: auto;
}



.education-entry,
.work-entry,
.project-entry {
    padding: 1%;
}



h2 {
  font-weight: bold;
  font-size: 24px;
  color: #2B2301;
  line-height: 29px;
  padding: 10px;
}

h3 {
  font-style: italic;
  font-size: 20px;
  color: #000;
  line-height: 22px;
}

h4 {
  font-weight: bold;
  font-size: 20px;
  color: #4a4a4a;
  line-height: 17px;
}

h2,
h3,
h4,
h5 {
  padding:10px 5%;
  text-align: center;
}


.date-text {
  font-style: italic;
  font-size: 14px;
  color: #999;
  line-height: 16px;
  float: left;
}

.location-text {
  font-style: italic;
  font-size: 14px;
  color: #999;
  line-height: 16px;
  float: right;

}

p {
  font-size: 16px;
  color: #333;
  line-height: 21px;
}

a {
  color: #2B2301;
  text-decoration: none;
  margin-top: 10px;
  display: block;
}

.welcome h2 {
    font-style: italic;
    font-size: 32px;
    color: black;
    padding-top: 80px;
    text-align: left;


}

#skills-h3 {
  font-size: 28px;
  text-align: left;
  color: black;
  display: block;
}

#skills li {
  font-size: 26px;
}


.white-text {
  font-weight: bold;
  color: #fff;
}

.gray {
  background-color: #f3f3f3;
  padding-bottom: 10px;
  clear:both;
}



.flex-box {
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 10px;
}

#skills.flex-box  {
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 10px;
}

.flex-item  {
  font-size: 20px;
  padding: 10px; 0, 10px, 0;
}

.center-content {
  padding: 2.5% 5%;
}

ul {
  list-style-type: none;
}

.biopic {
  width: 100%;

}

#projects img {
  margin: 10px 10px 5px 0;;
}

span {
  padding: 5px;
}

#lets-connect {
  text-align: center;
  color: ;
}


#map {
  display: block;
  height: 100%;
  margin: 0 5%;
}

#mapDiv {
  height: 400px;
  width: 100%;
  padding-bottom: 5%;
}

.image {
   position: relative;
   width: 100%; /* for IE 6 */
}

h1 {
   position: relative;
   text-align: center;
   top: -200px;
   left: 0;
   width: 100%;
   height: auto
}

h1 span {
   color: white;
   font: bold 24px/45px Helvetica, Sans-Serif;
   letter-spacing: -1px;
   background: rgb(0, 0, 0); /* fallback color */
   padding: 10px;
   display: inline;
}


h1 span.spacer {
   padding:0 5px;
}

#header {
  margin-top: -130px;
}


#topContacts {
  margin-top: 200px;
  padding: 0;
}

/* Media queries to handle various device widths */

@media only screen and (max-width: 1024px) {
  #lets-connect {
    margin-top: 5%;
  }
}



@media only screen and (max-width: 750px) {
  #lets-connect {
    margin-top: 10%;
  }

  .welcome-message {
    display: none;
  }
}

@media only screen and (min-width: 750px) {
  #skills-h3 {
    display: block;
  }
  h1 span {
      font: bold 48px/90px Helvetica, Sans-Serif; ;

}
